<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}">
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/layui/layui.js}"></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row" style="margin-top: 50px">
        <div class="layui-col-md3">
            &nbsp;
        </div>
        <div class="layui-col-md6">
            <img th:src="@{/assets/img/1.gif}">
        </div>
        <div class="layui-col-md3">
            &nbsp;
        </div>
    </div>
    <div class="layui-row" style="margin-top: 50px">
        <div class="layui-col-md3">
            &nbsp;
        </div>
        <div class="layui-col-md6">
            <h1 style="padding-left: 190px"><span>4&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;4</span></h1>
        </div>
        <div class="layui-col-md3">
            &nbsp;
        </div>
    </div>
</div>

</body>
</html>